@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

header {
  z-index: 10001 !important;
}

.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24;
}

.subtitle {
  @apply text-red uppercase tracking-wide font-medium text-lg;
}

.title {
  @apply text-4xl md:text-5xl font-bold my-2 leading-snug;
}
